@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to right, #16222a, #3a6073); */
  background-color: #622569;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 60px;
}

div {
  background-color: #b8a9c9;
  padding: 0.8rem;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  width: 95%;
  max-width: 480px;
}

h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.main-input {
  flex: 1;
  margin-right: 12px;
  border: 1px solid #ccc;
  padding: 10px 12px;
  width: 50%;
  border-radius: 8px;
}
.main-input:focus {
  border-color: #007bff;
  outline: none;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
  margin: 5px 5px 10px 0;
  transition: 0.3s ease;
}

button:hover {
  opacity: 0.9;
}

button:nth-of-type(1) {
  background-color: #FBBC05

  ;
  color: #000;
}

button:nth-of-type(2) {
  background-color: #EA4335;
  color: #000;
  /* margin-right: 20px; */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

li input[type="text"] {
  flex: 1;
  margin-right: 12px;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius:8px; 
}

li button {
  margin-left: 5px;
}

li button:nth-of-type(1) {
  background-color: #e74c3c;
  color: white;
}

li button:nth-of-type(2) {
  background-color: #50C878;
  color: #000;
}
